djangorestframework==3.9.0
django==2.2.13
django-cors-headers
django-crispy_forms
django-webpack-loader
psycopg2-binary
dj_database_url
gunicorn
whitenoise
# django-rest-knox==4.1.0
# django-allauth==0.39.1
boto3





