<!DOCTYPE html>


<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script data-ad-client="ca-pub-1308398221101996" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<link rel="collabere icon" type="image/x-icon" href='https://torquerf1.s3.ap-south-1.amazonaws.com/collabere_favico.png' />
    <title>Collabere</title>
</head>

<body style="background-image: url(https://collabere-profile-pic.s3.ap-south-1.amazonaws.com/test.jpg)">
    <!-- <div id="app" class="columns">React</div> -->
    <div id="root"></div>
        {% load static %}
    <script type="application/javascript" src="{% static 'main.js'%}"></script>
</body>

</html>
